body{
    font-family: Tahoma;
    color: #444;
    letter-spacing: 1px;
}

hi, h2{
    font-weight: normal;
}

#wrapper {
    width: 100%;
    max-width: 390px;
    margin: 10px auto;
    border-radius: 9px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 0 0 20px;
    overflow: hidden;
    border: 2px solid lightgray;
}

#page-check{
    background: #eee;
    padding: 10px 0;
}

#page-check h1, #page-check p{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
#page-check input{
    width: 90%;
    max-width: 300px;
    margin: 20px auto;
    display: block;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #444;
    text-align: center;
    cursor: pointer;
    vertical-align: top;
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.15);
    transition: box-shadow 0.15,

}